body {
    display: flex;
    flex-direction: column;
    font-family: roboto;
}

.header {
    display: flex;
    background-color: #1F2937;
    flex-direction: column;
    padding-left: 128px;
    padding-right: 128px;
}

.header-top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    color: #f9faf8;
    font-size: 24px;
}

.header-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
    color: #E5E7EB;
    font-size: 18px;
}

.header-content {
    display: flex;
    flex-direction: row;
    padding-top: 64px;
    padding-bottom: 64px;
    justify-content: center;
    flex: 1;
}

.header-content-hero {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: left;
    padding-right: 16px;
}

.header-content-hero-main-text {
    display: flex;
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.header-content-hero-secondary-text {
    display: flex;
    color: #E5E7EB;
    font-size: 18px;
}

.button-sign-up {
    background-color: #3882F6;
    color: #f9faf8;
    font-weight: bold;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 8px;
}

.header-content-image {
    display: flex;
    background-color: #E5E7EB;
    flex: 1;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.header-content-image-placeholder-text {
    display: flex;
    flex-direction: column;
    color: #3882F6;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 256px;
    padding-right: 256px;
}

.content-info-highlights {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 64px;
}

.content-info-highlights-title {
    display: flex;
    align-items: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
}

.content-info-highlights-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 32px;
}

.content-info-highlights-list-item {
    display: flex;
    flex-direction: column;
}

.content-info-highlights-list-item-image {
    display: flex;
    
    align-items: center;
    justify-content: center;
}

.content-info-highlights-list-item-text {
    display: flex;
    text-align: center;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding-left: 256px;
    padding-right: 256px;
}
.quote-text {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    flex: 1;
}

.quote-author {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    text-align: right;
    flex: 1;
}

.call-to-action {
    flex: 1;
    display: flex;
    flex-direction: row;
    background-color: #3882F6;
    padding-left: 256px;
    padding-right: 256px;
    justify-content: space-between;
    align-items: center;
}

.call-to-action-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: #f9faf8;
    align-content: flex-start;
    padding-top: 16px;
    padding-bottom: 16px;
}

.call-to-action-text-title {
    display: flex;
    font-size: 24px;
    font-weight: bold;
}

.call-to-action-button {
    background-color: #3882F6;
    border-color: #f9faf8;
    color: #f9faf8;
    font-weight: bold;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 8px;
}